<!-- NG-ZORRO -->

<div class="wrapper">

  <div class="image-left">
    <img src="../assets/img/educ1.jpg" >
  </div>

  <div class="container">
    <!-- Titulo -->
    <nz-divider nzOrientation="left" nzText="Registro de alumnos"></nz-divider>

    <!-- Busqueda por codigo -->
    <div class="section group">
      <div class="col span_12_of_12">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" [nzAddOnBefore]="prefixcon" nzSize="large">
          <input type="text" nz-input placeholder="Ingrese el código del curso" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSize="large" nzSearch><i nz-icon nzType="search"></i></button>
        </ng-template>
        <ng-template #prefixcon>
          <i nz-icon nzType="number" nzTheme="outline"></i>
        </ng-template>
      </div>
    </div>
    <!-- / -->

    <!-- Linea divisora -->
    <div class="section group">
      <div class="col span_12_of_12">
        <div class="divider div-transparent div-dot"></div>
      </div>
    </div>
    <!-- / -->

    <!-- Tipo y número de documento -->
    <div class="section group">
      <div class="col span_6_of_12 content-non-top">
        <nz-form-label>Tipo de documemento</nz-form-label>
        <nz-select [(ngModel)]="docTypeSelected" [nzSize]="sizeSelect" nzShowSearch>
          <nz-option *ngFor="let option of listDocsTypes" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
        </nz-select>
      </div>
      <div class="col span_6_of_12 content-non-top">
        <nz-form-label>Número de documemento</nz-form-label>
        <nz-input-group nzPrefixIcon="field-number" nzSize="large">
          <input type="text" nz-input />
        </nz-input-group>
      </div>
    </div>
    <!-- / -->

    <!-- Nombres y apellidos -->
    <div class="section group">
      <div class="col span_4_of_12">
        <nz-form-label>Nombres</nz-form-label>
        <nz-input-group nzPrefixIcon="user-switch" nzSize="large">
          <input type="text" nz-input />
        </nz-input-group>
      </div>
      <div class="col span_4_of_12">
        <nz-form-label>Apellido paterno</nz-form-label>
        <nz-input-group nzPrefixIcon="user-switch" nzSize="large">
          <input type="text" nz-input />
        </nz-input-group>
      </div>
      <div class="col span_4_of_12">
        <nz-form-label>Apellido materno</nz-form-label>
        <nz-input-group nzPrefixIcon="user-switch" nzSize="large">
          <input type="text" nz-input />
        </nz-input-group>
      </div>
    </div>
    <!-- / -->

    <!-- Colegio y sección -->
    <div class="section group">
      <div class="col span_9_of_12 content-non-top">
        <nz-form-label>Institución educativa</nz-form-label>
        <nz-select [(ngModel)]="schoolsSelected" [nzSize]="sizeSelect"
          nzPlaceHolder="Seleccione una institución educativa" nzShowSearch>
          <nz-option *ngFor="let option of listSchools" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
        </nz-select>
      </div>
      <div class="col span_3_of_12 content-non-top">
        <nz-form-label>Sección</nz-form-label>
        <nz-input-group nzPrefixIcon="profile" nzSize="large">
          <input type="text" nz-input />
        </nz-input-group>
      </div>
    </div>
    <!-- / -->

    <!-- Email y telefono -->
    <div class="section group">
      <div class="col span_4_of_12 content-non-top">
        <nz-form-label>Teléfono</nz-form-label>
        <nz-input-group nzPrefixIcon="mobile" nzSize="large">
          <input type="text" nz-input />
        </nz-input-group>
      </div>
      <div class="col span_8_of_12 content-non-top">
        <nz-form-label>Correo electrónico</nz-form-label>
        <nz-input-group nzPrefixIcon="mail" nzSize="large">
          <input type="text" nz-input />
        </nz-input-group>
      </div>
    </div>
    <!-- / -->

    <!-- Email y telefono -->
    <div class="section group">
      <div class="col span_12_of_12 content-non-top">
        <nz-form-label>Agregar mas códigos</nz-form-label>
        <nz-select nzMode="tags" nzPlaceHolder="Presione enter para agregar un código" [nzSize]="sizeSelect"
          [(ngModel)]="listTagCodes">
          <nz-option *ngFor="let option of listCodes" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
        </nz-select>
      </div>
    </div>
    <!-- / -->

    <!-- Botones -->
    <div class="container-buttons">
      <button nz-button [nzSize]="sizeButton" nzType="primary">Registrar</button>
      <button nz-button [nzSize]="sizeButton" nzType="default">Cancelar</button>
    </div>
    <!-- / -->

  </div>

</div>

